header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 10px;
    
    width: 100%;
    background-color: #9B0000;
    color: white;
    justify-self: start;
  }
  
  header button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    justify-self: flex-end;
    height: fit-content;
    margin: 0;
    margin-right: 25px;
    background-color:#fff;
    color: black;
    border-radius: 5px;
    outline: none;
  }
  
  header button img{
    width: 30px;
    margin: 0;
    padding: 0;
  }
  
  header h1{
    margin-left: 15px;
  }